body{
  background-color: #292C30;
}

h1{
  color:#689847;
}
p.precio{
  color:white;
  font-size: 35px;
}

p.date{
  font-size: 15px;
  color:white;
  font-style: italic;
  text-align: right;
  color: #9E9E9E;
}
